@import url('https://fonts.googleapis.com/css2?family=Prata&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(components/header.css);
@import url(components/container.css);
@import url(components/topbar.css);
@import url(components/list-inline.css);
@import url(components/logo.css);
@import url(components/btn-red.css);
@import url(components/btn-yllw.css);
@import url(components/cardmissioncontainer.css);
@import url(components/cardmission.css);
@import url(components/places.css);
@import url(components/card.css);
@import url(components/cardcontainer.css);
@import url(components/cards.css);
@import url(components/givebtn.css);
@import url(components/btncontainer.css);
@import url(components/transition.css);
@import url(components/size.css);
@import url(components/give-section.css);
@import url(components/contact.css);
@import url(components/btn-socialnetworks.css);
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Prata', serif;
  font-size: 18px;
  margin: 0px;
  text-align: center;
}

h1,h2,h3,h4 {
  font-family: 'Quattrocento Sans', sans-serif;
}
a{
  text-decoration: none;
  font-weight: bold;
  font-family: 'Prata', serif;
}
h1{
  font-size: 90px;
}
h2{
  font-size: 55px;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 20px;
}
