#give-section{
  background-color: #FFFF00;
  padding: 30px 0px;
}
#give-section h3{
  color: black;
}
#give-section a.btn-yllw{
  background-color: black;
  color: white;
  margin: auto 30px;
}
#give-section a.btn-yllw:hover{
  background-color: white;
  color: #EF8200;
}
