.topbar {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 50px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(240, 240, 240, 0.9);
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.topbar i{
  margin-right: 10px;
}
@media (max-width: 620px){
  .topbar p{
    display: none;
  }
}
